* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.boxarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 700px;
    height: 500px;
    background-color: bisque;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.resultbox {
    margin: 40px 0px;
}

.choicebox {
    margin: 40px 0px;
}

.choicebtn {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: aqua;
}
